{
  "plugins": ["lodash"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true,
        "corejs": { "version": 3, "proposals": true },
        "loose": true,
        "targets": { "esmodules": true },
        "useBuiltIns": "entry"
      }
    ]
  ]
}
